AddDefaultCharset UTF-8
<IfModule mod_mime.c>
    AddCharset UTF-8 .html .css .js .json
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(html|htm|js|css|json)$">
        Header set Content-Type "text/html; charset=UTF-8"
    </FilesMatch>
</IfModule>
